::-webkit-scrollbar{
  display: none;
}

*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.App{
  text-align: center;
  display: flex;
  align-items: center;
}

.search{
  text-align: center;
}

.search input{
  width : 26rem;
  margin:2rem;
  height: 2rem;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  border-radius: 6px;
  border : 1px solid;
}

input[type = 'number']
{
  width : 4rem;
  border : none;
  margin : -1rem;
}

.container{
  display: grid;
  grid-template-columns: repeat(3,31rem);
  grid-auto-rows: 39rem;
  margin : 1rem;
}

.card{
      background-color: white;
      padding-top : 2rem;
      position: relative;
      color:black;
      text-align: center;
      width : 24rem;
      height:32rem;
      border-radius: 4px;
      margin : 3rem;
      box-shadow: 0px 0px 3px 0px;
      cursor: pointer;
}

.card img {
  border : 1px solid white;
  height : 4rem;
  width : 4rem;
  margin : 1rem;
  border-radius: 50%;
}

table{
  padding:3px;
  width:100%;
}

p{
  margin : 1rem;
  color: dodgerblue;
}

.details{
  text-align: left;
}

.hover-details{
  position: absolute;
  margin-top : -4rem;
  margin-left : 6rem;
  width : 12rem;
  background-color: white;
  opacity: 0.95;
  border : 1px dotted dodgerblue;
  border-radius: 3px;
}

.hover-details td{
  color: red;
}

.website{
  padding: 12px;
  display: flex;
  justify-content: space-evenly;
}